<header class="grid grid-cols-5 text-slate-900 h-screen p-2 border-e border-slate-100">
  <div class="col-span-1"></div>
  <div class="col-span-4 px-2">
    <div class="text-3xl">PraRails</div>
    <div class="mt-6 ml-2">
      <div>
        <ul class="flex flex-col text-lg">
            <li class="flex">
              <a href="#" class="flex pl-4 pr-8 py-2 rounded-full hover:bg-slate-200">
                <%= image_tag("icons/home_icon.svg") %>
                <div class="ml-2">Home</div>
              </a>
            </li>
            <li class="flex">
              <a href="#" class="flex pl-4 pr-8 py-2 rounded-full hover:bg-slate-200">
                <%= image_tag("icons/search_icon.svg") %>
                <div class="ml-2">Explore</div>
              </a>
            </li>
            <li class="flex">
              <a href="#" class="flex pl-4 pr-8 py-2 rounded-full hover:bg-slate-200">
                <%= image_tag("icons/notification_icon.svg") %>
                <div class="ml-2">Notifications</div>
              </a>
            </li>
            <li class="flex">
              <a href="#" class="flex pl-4 pr-8 py-2 rounded-full hover:bg-slate-200">
                <%= image_tag("icons/mail_icon.svg") %>
                <div class="ml-2">Messages</div>
              </a>
            </li>
        </ul>
      </div>
      <div class="my-2">
        <a class="min-h-12 flex justify-center items-center px-8 w-full text-white rounded-full bg-black">
          <span class="text-lg font-bold">Post</span>  
        </a>
      </div>
    </div>
  </div>
</header>
