<header class="text-slate-900 h-screen p-2 border-e border-slate-100">
  <div class="text-3xl">PraRails</div>
    <ul class="flex flex-col text-lg mt-6 ml-2">
        <li class="flex">
          <a href="#" class="flex pl-4 pr-8 py-2 rounded-full hover:bg-slate-200">
            <%= image_tag("icons/home_icon.svg") %>
            <div class="ml-2">Home</div>
          </a>
        </li>
        <li class="flex">
          <a href="#" class="flex pl-4 pr-8 py-2 rounded-full hover:bg-slate-200">
            <%= image_tag("icons/search_icon.svg") %>
            <div class="ml-2">Explore</div>
          </a>
        </li>
        <li class="flex">
          <a href="#" class="flex pl-4 pr-8 py-2 rounded-full hover:bg-slate-200">
            <%= image_tag("icons/notification_icon.svg") %>
            <div class="ml-2">Notifications</div>
          </a>
        </li>
        <li class="flex">
          <a href="#" class="flex pl-4 pr-8 py-2 rounded-full hover:bg-slate-200">
            <%= image_tag("icons/mail_icon.svg") %>
            <div class="ml-2">Messages</div>
          </a>
        </li>
    </ul>
</header>
